body,h1,h2,h3,h4,h5,h6 
{
    font-family:'Times New Roman', Times, serif;
}
body, html 
{
  height: 100%;
  line-height: 3.0;
  background-color: #ffffff;
}
.bgimg-1
{ width: 1280px;
    height: 1080px;
  background-size: cover;
  background-image: url("images/main.jpg");
  min-height: 50%;
  left: 100px;
    
}
li a:hover{
  background-color: #682bd7;
  opacity: 0.5;
  font-weight: bold;
}
.containt
{
  position: absolute;
  font-size: 2.5em;;
  color:#682bd7;
  line-height: 1.5;
  top:25%;
  right:35%;
}
button:hover{
	transform: scale(1.1);
}
.container {
  padding-top: 3%;
  padding-bottom: 3%;
  color: #ffffff;
  background-color:#682bd7;
  text-align: center;
}
#aboutpara {
  background-color: #682bd7;
  padding-top: 1.7%;
  font-size: 1.1rem;
  text-align: justify;
}
#features {
  padding: 3%;
  text-align: center;
  color: #ffffff;
  background-color:#ffffff;
}
.feature-box {
  padding: 2% 5%;
  text-align: center;
}
footer{
  margin-top: 1%;
  margin-right: 2%;
  margin-bottom: 5%;
  margin-left: 5%;
}
#contact{
  color: #7900FF;
  font-size: 1.1rem;
  font-weight:500;
}

  
  